:root {
  --font-size: 15px;
  --border-color: rgba(0, 0, 0, 0.08);
  --subtle-border-color: rgba(0, 0, 0, 0.05);
  --body-background-color: hsl(1, 8%, 97%);
  --reference-item-background: hsl(0, 0%, 99%);
  --sidebar-background-color: hsl(127, 26%, 99%);
  --brackets-color: rgba(0, 0, 0, 0.25);
  --empty-text-color: hsl(203, 12%, 75%);
}

.rm-title-untitled,
#block-input-ghost>span,
textarea::placeholder {
  color: var(--empty-text-color) !important;
}

body,
div,
textarea,
.level2 {
  font-family: 'iA Writer Quattro V', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.loading-astrolabe {
  position: absolute !important;
  width: 80px !important;
  height: 80px !important;
  opacity: 0.3 !important;
  top: calc(50% - 40px) !important;
  left: calc(50% - 40px) !important;
}

#roam-sidebar-logo {
  display: none !important;
}

body,
#app,
.roam-body,
.roam-topbar {
  background: var(--body-background-color) !important;
}

#right-sidebar {
  border-top-left-radius: 6px !important;
  background: var(--sidebar-background-color) !important;
  border-top: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;
}

#right-sidebar h1 {
  font-size: 18px !important;
}

#right-sidebar #roam-right-sidebar-content>div[style] {
  border-bottom: 1px solid var(--subtle-border-color) !important;
}


.rm-page-ref-tag {
  color: #9099a1 !important;
}

span.checkmark {
  top: -2px;
}

.rm-level1 div,
.rm-level1 textarea {
  font-size: 17px !important;
  line-height: 1.5 !important;
}

.level2 {
  font-weight: inherit !important;
}

.bp3-portal {
  z-index: 101 !important;
}

.roam-center>div:first-child {
  padding-right: calc(0.5 * (100% - 740px)) !important;
  padding-left: calc(0.5 * (100% - 740px)) !important;
}

.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--sidebar-background-color) !important;
  border-right: 1px solid var(--border-color) !important;
  box-shadow: none !important;
}

.roam-log-container .roam-log-page {
  border-top: 1px solid var(--subtle-border-color) !important;
}

.roam-log-container .roam-log-page:first-child {
  min-height: 0 !important;
  border-top: none !important;
}

.rm-reference-item {
  background: var(--reference-item-background) !important;
  border: 1px solid #f0f0f0 !important;
  border-radius: 6px !important;
  padding: 8px 10px 8px 2px !important;
}

.rm-reference-item .rm-block-text {
  font-size: var(--font-size) !important;
}

.CodeMirror {
  font-size: 13px !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  color: inherit !important;
  background-color: transparent !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.bp3-minimal>div {
  color: #666666 !important;
  font-size: 13px !important;
  font-weight: normal !important;
  text-transform: capitalize !important;
}

.roam-sidebar-content {
  padding: 0 !important;
}

.roam-sidebar-content>div:not(.log-button):not(:first-child) {
  padding: 0 !important;
}

.starred-pages-wrapper>div:first-child {
  margin-top: 9px !important;
  background-color: var(--subtle-border-color) !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages {
  padding: 6px 20px 6px !important;
}

.bp3-icon-small {
  padding-left: 20px !important;
}

.rm-block-text {
  max-width: 640px !important;
  font-size: var(--font-size) !important;
}

.block-bullet-view {
  margin-bottom: 3px !important;
}

.roam-article>div>div h1 {
  font-size: 42px !important;
  font-weight: 700 !important;
  height: auto !important;
  line-height: 1.5 !important;
  font-family: WindsorEF;
}

.rm-title-display,
.rm-title-textarea {
  height: auto !important;
  line-height: 1.5 !important;
}

.roam-log-container .roam-log-preview h1 {
  font-size: 22px !important;
  font-weight: 700 !important;
}

strong {
  font-weight: 700 !important;
}

.block-border-left {
  border-left-color: var(--subtle-border-color) !important;
}

.rm-reference-main div>strong {
  color: gray !important;
}

div.log-button:nth-of-type(3) {
  display: none !important;

}

#roam-sidebar-logo {
  display: none !important;
}

.intercom-app,
.intercom-launcher-frame,
#intercom-container {
  display: none !important;
}

#right-sidebar button {
  z-index: 100000;
}

.roam-center .bp3-button.bp3-small.block-ref-count-button {
  background: white !important;
}

div.starred-pages-wrapper>div.flex-h-box {
  display: none !important;
}

.page {
  margin-left: 0px !important;
}

.page:hover {
  background-color: transparent !important;
  font-weight: bold !important;
  color: #666 important;
}

button.bbp3-icon {
  display: none !important;
}

#buffer {
  z-index: 100000;
  background: white !important;
}

/* .roam-body-main {
  height: 100% !important;
  top: 0 !important;
} */

.roam-topbar {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  z-index: 1;
  background: transparent !important;
}


div.bp3-icon {
  display: none !important;
}

.roam-sidebar-container {
  padding-top: 10px !important;
}

.rm-reference-container {
  margin-bottom: 20px !important;
}

.chain {
  color: red !important;
  font-size: 22px;
}

hr {
  border-top: 1px solid #ccc !important;
}
